# JPX Tokio Stock Exchange

## Reading data paths

In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/jpx-tokyo-stock-exchange-prediction/stock_list.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/example_test_files/sample_submission.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/example_test_files/options.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/example_test_files/financials.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/example_test_files/secondary_stock_prices.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/example_test_files/trades.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/example_test_files/stock_prices.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/jpx_tokyo_market_prediction/competition.cpython-37m-x86_64-linux-gnu.so
/kaggle/input/jpx-tokyo-stock-exchange-prediction/jpx_tokyo_market_prediction/__init__.py
/kaggle/input/jpx-tokyo-stock-exchange-prediction/data_specifications/stock_fin_spec.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/data_specifications/trades_spec.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/data_specifications/stock_price_spec.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/data_specifications/options_spec.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/data_specifications/stock_list_spec.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/options.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/financials.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/secondary_stock_prices.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/trades.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/stock_prices.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/supplemental_files/options.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/supplemental_files/financials.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/supplemental_files/secondary_stock_prices.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/supplemental_files/trades.csv
/kaggle/input/jpx-tokyo-stock-exchange-prediction/supplemental_files/stock_prices.csv

## Reading the Sample Submission file for clarity

**Observations - Features :** 
- Data
- SecuritiesCode
- Rank

In [2]:
df_example = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/example_test_files/sample_submission.csv")
df_example

              Date  SecuritiesCode  Rank
0       2021-12-06            1301     0
1       2021-12-06            1332     1
2       2021-12-06            1333     2
3       2021-12-06            1375     3
4       2021-12-06            1376     4
...            ...             ...   ...
111995  2022-02-28            9990  1995
111996  2022-02-28            9991  1996
111997  2022-02-28            9993  1997
111998  2022-02-28            9994  1998
111999  2022-02-28            9997  1999

[112000 rows x 3 columns]

In [3]:
df_example.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112000 entries, 0 to 111999
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            112000 non-null  object
 1   SecuritiesCode  112000 non-null  int64
 2   Rank            112000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.6+ MB

## Time-Series API test

iter_test method creates a generator.

Generated tuples Are equivalent of the data samples

In [4]:
import jpx_tokyo_market_prediction
env = jpx_tokyo_market_prediction.make_env()   # initialize the environment
iter_test = env.iter_test()    # an iterator which loops over the test files


# for (prices, options, financials, trades, secondary_prices, sample_prediction) in iter_test:
#    sample_prediction_df['Rank'] = np.arange(len(sample_prediction))  # make your predictions here
#    env.predict(df_example["Rank"])   # register your predictions

In [5]:
a = next(iter_test)

This version of the API is not optimized and should not be used to estimate the runtime of your code on the hidden test set.

In [6]:
a[0]

,Date,RowId,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag
0,2021-12-06,20211206_1301,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,NaN,False
1,2021-12-06,20211206_1332,1332,592.0,599.0,588.0,589.0,1360800,1.0,NaN,False
2,2021-12-06,20211206_1333,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,NaN,False
3,2021-12-06,20211206_1375,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,NaN,False
4,2021-12-06,20211206_1376,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
1995,2021-12-06,20211206_9990,9990,528.0,531.0,516.0,517.0,65300,1.0,NaN,False
1996,2021-12-06,20211206_9991,9991,796.0,800.0,785.0,785.0,29100,1.0,NaN,False
1997,2021-12-06,20211206_9993,9993,1645.0,1653.0,1627.0,1627.0,6200,1.0,NaN,False
1998,2021-12-06,20211206_9994,9994,2394.0,2433.0,2393.0,2418.0,7800,1.0,NaN,False
1999,2021-12-06,20211206_9997,9997,702.0,717.0,695.0,706.0,284000,1.0,NaN,False

In [7]:
env.predict(pd.DataFrame(a[5]["Rank"]))

## Data observations

### Stock prices (training set)

- Stocks are identified by their SecuritiesCode
- Target is to be used for prediction for a given date -> (target(t+2) - target(t+1))

In [8]:
df_stock_prices = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/stock_prices.csv")
# df_stock_prices[df_stock_prices['SecuritiesCode'] == 1301]
df_stock_prices.tail(-20)

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
20,20170104_1719,2017-01-04,1719,783.0,797.0,779.0,795.0,2039100,1.0,NaN,False,-0.005051
21,20170104_1720,2017-01-04,1720,937.0,952.0,937.0,950.0,634400,1.0,NaN,False,0.005219
22,20170104_1721,2017-01-04,1721,2154.0,2198.0,2147.0,2187.0,510500,1.0,NaN,False,0.012582
23,20170104_1723,2017-01-04,1723,2033.0,2120.0,2021.0,2088.0,48000,1.0,NaN,False,-0.006226
24,20170104_1726,2017-01-04,1726,254.0,261.0,251.0,261.0,539500,1.0,NaN,False,0.011194
...,...,...,...,...,...,...,...,...,...,...,...,...
2332526,20211203_9990,2021-12-03,9990,514.0,528.0,513.0,528.0,44200,1.0,NaN,False,0.034816
2332527,20211203_9991,2021-12-03,9991,782.0,794.0,782.0,794.0,35900,1.0,NaN,False,0.025478
2332528,20211203_9993,2021-12-03,9993,1690.0,1690.0,1645.0,1645.0,7200,1.0,NaN,False,-0.004302
2332529,20211203_9994,2021-12-03,9994,2388.0,2396.0,2380.0,2389.0,6500,1.0,NaN,False,0.009098
2332530,20211203_9997,2021-12-03,9997,690.0,711.0,686.0,696.0,381100,1.0,NaN,False,0.018414

In [9]:
df_options = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/options.csv")
df_options[df_options["OptionsCode"] == 132010018]

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,DateCode,Date,OptionsCode,WholeDayOpen,WholeDayHigh,WholeDayLow,WholeDayClose,NightSessionOpen,NightSessionHigh,NightSessionLow,...,Putcall,LastTradingDay,SpecialQuotationDay,SettlementPrice,TheoreticalPrice,BaseVolatility,ImpliedVolatility,InterestRate,DividendRate,Dividend
0,20170104_132010018,2017-01-04,132010018,650.0,650.0,480.0,480.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,480.0,478.4587,17.47360,17.5865,0.0091,0.0,0.0
2174,20170105_132010018,2017-01-05,132010018,480.0,500.0,455.0,500.0,480.0000,480.0000,455.0000,...,1,20170112,20170113,520.0,517.4457,15.82165,16.1341,0.0091,0.0,0.0
4354,20170106_132010018,2017-01-06,132010018,570.0,570.0,570.0,570.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,570.0,569.9998,15.00600,16.4274,0.0091,0.0,0.0
6534,20170110_132010018,2017-01-10,132010018,580.0,580.0,425.0,545.0,580.0000,580.0000,425.0000,...,1,20170112,20170113,700.0,699.6336,18.27580,17.0031,0.0091,0.0,0.0
8714,20170111_132010018,2017-01-11,132010018,615.0,615.0,615.0,615.0,615.0000,615.0000,615.0000,...,1,20170112,20170113,645.0,641.4201,17.92090,25.1000,0.0091,0.0,0.0
10894,20170112_132010018,2017-01-12,132010018,620.0,620.0,620.0,620.0,620.0000,620.0000,620.0000,...,1,20170112,20170113,870.0,865.7822,17.78300,32.5000,0.0091,0.0,0.0

In [10]:
df_options.describe()

,OptionsCode,WholeDayOpen,WholeDayHigh,WholeDayLow,WholeDayClose,DaySessionOpen,DaySessionHigh,DaySessionLow,DaySessionClose,TradingVolume,...,Putcall,LastTradingDay,SpecialQuotationDay,SettlementPrice,TheoreticalPrice,BaseVolatility,ImpliedVolatility,InterestRate,DividendRate,Dividend
count,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,...,3567694.0,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3.567694e+06,3567694.0
mean,1.547259e+08,2.455560e+01,2.619204e+01,2.302928e+01,2.445090e+01,2.003080e+01,2.097014e+01,1.916712e+01,2.002161e+01,4.183561e+01,...,1.5,2.021539e+07,2.021540e+07,3.285953e+03,3.294785e+03,1.807872e+01,2.241038e+01,1.236648e-01,1.664867e+00,0.0
std,2.360856e+07,1.881537e+02,1.927197e+02,1.845273e+02,1.885030e+02,1.679464e+02,1.706218e+02,1.656358e+02,1.680960e+02,3.313341e+02,...,0.5,2.838869e+04,2.838869e+04,3.326602e+03,3.345038e+03,7.588283e+00,1.492312e+01,3.697845e-02,1.239988e+00,0.0
min,1.300600e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.0,2.017011e+07,2.017011e+07,1.000000e+00,0.000000e+00,8.285350e+00,1.000000e+00,-3.180000e-02,0.000000e+00,0.0
25%,1.361030e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.0,2.019121e+07,2.019121e+07,6.400000e+02,6.348310e+02,1.398330e+01,1.754980e+01,1.264000e-01,1.397500e+00,0.0
50%,1.441107e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.5,2.021071e+07,2.021071e+07,2.300000e+03,2.307775e+03,1.666065e+01,1.939040e+01,1.364000e-01,1.718500e+00,0.0
75%,1.840377e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.0,2.023121e+07,2.023121e+07,4.910000e+03,4.912884e+03,1.935840e+01,2.319487e+01,1.464000e-01,1.989700e+00,0.0
max,1.992480e+08,2.285000e+04,2.285000e+04,2.285000e+04,2.285000e+04,1.527000e+04,1.535000e+04,1.527000e+04,1.535000e+04,2.849600e+04,...,2.0,2.029061e+07,2.029061e+07,3.635000e+04,3.616080e+04,7.582630e+01,3.200000e+02,1.564000e-01,2.489940e+01,0.0

In [11]:
df_trades = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/trades.csv")
df_trades

,Date,StartDate,EndDate,Section,TotalSales,TotalPurchases,TotalTotal,TotalBalance,ProprietarySales,ProprietaryPurchases,...,CityBKsRegionalBKsEtcTotal,CityBKsRegionalBKsEtcBalance,TrustBanksSales,TrustBanksPurchases,TrustBanksTotal,TrustBanksBalance,OtherFinancialInstitutionsSales,OtherFinancialInstitutionsPurchases,OtherFinancialInstitutionsTotal,OtherFinancialInstitutionsBalance
0,2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707,2021-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1708,2021-12-02,2021-11-22,2021-11-26,Growth Market (Mothers/JASDAQ),1.143466e+09,1.143923e+09,2.287389e+09,456677.0,3.663919e+07,3.496068e+07,...,396230.0,-275608.0,6696755.0,6886122.0,13582877.0,189367.0,234653.0,298525.0,533178.0,63872.0
1709,2021-12-02,2021-11-22,2021-11-26,Prime Market (First Section),1.138343e+10,1.137621e+10,2.275964e+10,-7214179.0,1.499660e+09,1.230944e+09,...,35957940.0,-17510292.0,254580089.0,261919512.0,516499601.0,7339423.0,11959898.0,16368287.0,28328185.0,4408389.0
1710,2021-12-02,2021-11-22,2021-11-26,Standard Market (Second Section),1.069969e+08,1.075036e+08,2.145004e+08,506702.0,2.811025e+06,3.273163e+06,...,42127.0,-42127.0,438928.0,243817.0,682745.0,-195111.0,60291.0,6985.0,67276.0,-53306.0
1711,2021-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_trades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712 entries, 0 to 1711
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 1712 non-null   object
 1   StartDate                            765 non-null    object
 2   EndDate                              765 non-null    object
 3   Section                              765 non-null    object
 4   TotalSales                           765 non-null    float64
 5   TotalPurchases                       765 non-null    float64
 6   TotalTotal                           765 non-null    float64
 7   TotalBalance                         765 non-null    float64
 8   ProprietarySales                     765 non-null    float64
 9   ProprietaryPurchases                 765 non-null    float64
 10  ProprietaryTotal                     765 non-null    float64
 11  ProprietaryBalance                   765 non-null    float64
 12  BrokerageSales                       765 non-null    float64
 13  BrokeragePurchases                   765 non-null    float64
 14  BrokerageTotal                       765 non-null    float64
 15  BrokerageBalance                     765 non-null    float64
 16  IndividualsSales                     765 non-null    float64
 17  IndividualsPurchases                 765 non-null    float64
 18  IndividualsTotal                     765 non-null    float64
 19  IndividualsBalance                   765 non-null    float64
 20  ForeignersSales                      765 non-null    float64
 21  ForeignersPurchases                  765 non-null    float64
 22  ForeignersTotal                      765 non-null    float64
 23  ForeignersBalance                    765 non-null    float64
 24  SecuritiesCosSales                   765 non-null    float64
 25  SecuritiesCosPurchases               765 non-null    float64
 26  SecuritiesCosTotal                   765 non-null    float64
 27  SecuritiesCosBalance                 765 non-null    float64
 28  InvestmentTrustsSales                765 non-null    float64
 29  InvestmentTrustsPurchases            765 non-null    float64
 30  InvestmentTrustsTotal                765 non-null    float64
 31  InvestmentTrustsBalance              765 non-null    float64
 32  BusinessCosSales                     765 non-null    float64
 33  BusinessCosPurchases                 765 non-null    float64
 34  BusinessCosTotal                     765 non-null    float64
 35  BusinessCosBalance                   765 non-null    float64
 36  OtherInstitutionsSales               765 non-null    float64
 37  OtherInstitutionsPurchases           765 non-null    float64
 38  OtherInstitutionsTotal               765 non-null    float64
 39  OtherInstitutionsBalance             765 non-null    float64
 40  InsuranceCosSales                    765 non-null    float64
 41  InsuranceCosPurchases                765 non-null    float64
 42  InsuranceCosTotal                    765 non-null    float64
 43  InsuranceCosBalance                  765 non-null    float64
 44  CityBKsRegionalBKsEtcSales           765 non-null    float64
 45  CityBKsRegionalBKsEtcPurchase        765 non-null    float64
 46  CityBKsRegionalBKsEtcTotal           765 non-null    float64
 47  CityBKsRegionalBKsEtcBalance         765 non-null    float64
 48  TrustBanksSales                      765 non-null    float64
 49  TrustBanksPurchases                  765 non-null    float64
 50  TrustBanksTotal                      765 non-null    float64
 51  TrustBanksBalance                    765 non-null    float64
 52  OtherFinancialInstitutionsSales      765 non-null    float64
 53  OtherFinancialInstitutionsPurchases  765 non-null    float64
 54  OtherFinancialInstitutionsTotal      765 non-null    float64
 55  OtherFinancialInstitutionsBalance    765 non-null    float64
dtypes: float64(52), object(4)
memory usage: 749.1+ KB

## Financials

**TO DO : Data browsing**
- Inspect relation security codes between dataframes

In [13]:
df_financials = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/financials.csv")
df_financials

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (14,15,16,17,18,19,42,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,DisclosureNumber,DateCode,Date,SecuritiesCode,DisclosedDate,DisclosedTime,DisclosedUnixTime,TypeOfDocument,CurrentPeriodEndDate,TypeOfCurrentPeriod,...,ForecastEarningsPerShare,ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements,MaterialChangesInSubsidiaries,ChangesBasedOnRevisionsOfAccountingStandard,ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard,ChangesInAccountingEstimates,RetrospectiveRestatement,NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock,NumberOfTreasuryStockAtTheEndOfFiscalYear,AverageNumberOfShares
0,2.016121e+13,20170104_2753,2017-01-04,2753.0,2017-01-04,07:30:00,1.483483e+09,3QFinancialStatements_Consolidated_JP,2016-12-31,3Q,...,319.76,NaN,False,True,False,False,False,6848800.0,－,6848800.0
1,2.017010e+13,20170104_3353,2017-01-04,3353.0,2017-01-04,15:00:00,1.483510e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,485.36,NaN,False,True,False,False,False,2035000.0,118917,1916083.0
2,2.016123e+13,20170104_4575,2017-01-04,4575.0,2017-01-04,12:00:00,1.483499e+09,ForecastRevision,2016-12-31,2Q,...,-93.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.017010e+13,20170105_2659,2017-01-05,2659.0,2017-01-05,15:00:00,1.483596e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,285.05,NaN,False,True,False,False,False,31981654.0,18257,31963405.0
4,2.017011e+13,20170105_3050,2017-01-05,3050.0,2017-01-05,15:30:00,1.483598e+09,ForecastRevision,2017-02-28,FY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92951,2.021112e+13,20211203_6040,2021-12-03,6040.0,2021-12-03,15:00:00,1.638511e+09,1QFinancialStatements_Consolidated_JP,2021-10-31,1Q,...,－,NaN,False,True,False,False,False,16000400.0,836400,15164000.0
92952,2.021120e+13,20211203_6898,2021-12-03,6898.0,2021-12-03,16:00:00,1.638515e+09,3QFinancialStatements_Consolidated_JP,2021-10-31,3Q,...,142.01,NaN,False,False,False,False,False,816979.0,157541,659486.0
92953,2.021120e+13,20211203_6969,2021-12-03,6969.0,2021-12-03,15:00:00,1.638511e+09,ForecastRevision,2022-03-31,FY,...,-147.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92954,2.021112e+13,20211203_8057,2021-12-03,8057.0,2021-12-03,17:00:00,1.638518e+09,1QFinancialStatements_Consolidated_JP,2021-10-20,1Q,...,330.92,NaN,False,True,False,False,False,10419371.0,614032,9805339.0
92955,2.021120e+13,20211203_9627,2021-12-03,9627.0,2021-12-03,15:30:00,1.638513e+09,2QFinancialStatements_Consolidated_JP,2021-10-31,2Q,...,234.28,NaN,False,True,False,False,False,35428212.0,200911,35260638.0

In [14]:
df_financials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92956 entries, 0 to 92955
Data columns (total 45 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   DisclosureNumber                                                              92954 non-null  float64
 1   DateCode                                                                      92954 non-null  object
 2   Date                                                                          92956 non-null  object
 3   SecuritiesCode                                                                92954 non-null  float64
 4   DisclosedDate                                                                 92954 non-null  object
 5   DisclosedTime                                                                 92954 non-null  object
 6   DisclosedUnixTime                                                             92954 non-null  float64
 7   TypeOfDocument                                                                92954 non-null  object
 8   CurrentPeriodEndDate                                                          92954 non-null  object
 9   TypeOfCurrentPeriod                                                           92954 non-null  object
 10  CurrentFiscalYearStartDate                                                    92954 non-null  object
 11  CurrentFiscalYearEndDate                                                      92954 non-null  object
 12  NetSales                                                                      75448 non-null  object
 13  OperatingProfit                                                               73446 non-null  object
 14  OrdinaryProfit                                                                75328 non-null  object
 15  Profit                                                                        75380 non-null  object
 16  EarningsPerShare                                                              74958 non-null  object
 17  TotalAssets                                                                   75433 non-null  object
 18  Equity                                                                        75431 non-null  object
 19  EquityToAssetRatio                                                            74739 non-null  object
 20  BookValuePerShare                                                             35773 non-null  object
 21  ResultDividendPerShare1stQuarter                                              74380 non-null  object
 22  ResultDividendPerShare2ndQuarter                                              55940 non-null  object
 23  ResultDividendPerShare3rdQuarter                                              37677 non-null  object
 24  ResultDividendPerShareFiscalYearEnd                                           19416 non-null  object
 25  ResultDividendPerShareAnnual                                                  19415 non-null  object
 26  ForecastDividendPerShare1stQuarter                                            19241 non-null  object
 27  ForecastDividendPerShare2ndQuarter                                            42619 non-null  object
 28  ForecastDividendPerShare3rdQuarter                                            60807 non-null  object
 29  ForecastDividendPerShareFiscalYearEnd                                         79021 non-null  object
 30  ForecastDividendPerShareAnnual                                                79022 non-null  object
 31  ForecastNetSales                                                              82842 non-null  object
 32  ForecastOperatingProfit                                                       81083 non-null  object
 33  ForecastOrdinaryProfit                                                        82718 non-null  object
 34  ForecastProfit                                                                83856 non-null  object
 35  ForecastEarningsPerShare                                                      82842 non-null  object
 36  ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements                 7249 non-null   object
 37  MaterialChangesInSubsidiaries                                                 64504 non-null  object
 38  ChangesBasedOnRevisionsOfAccountingStandard                                   74895 non-null  object
 39  ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard                      74895 non-null  object
 40  ChangesInAccountingEstimates                                                  74126 non-null  object
 41  RetrospectiveRestatement                                                      70396 non-null  object
 42  NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock  74918 non-null  object
 43  NumberOfTreasuryStockAtTheEndOfFiscalYear                                     74918 non-null  object
 44  AverageNumberOfShares                                                         74349 non-null  object
dtypes: float64(3), object(42)
memory usage: 31.9+ MB